 <div class="content-footer"  id="foooter" style=" height: 50px; width:100%; position: absolute;left: 0;bottom: 0;"
  th:fragment="footer"> 
			    <div class="copyright" >
				    <p>
					     <i><span id="year"></span> BEN GHARSSALLAH Corp. &copy; <a href="mailto:farouk.bengarssallah@gmail.com">farouk.bengarssallah</a></i> 
					     
					</p>
					<script type="text/javascript">
					   document.getElementById("year").innerHTML = new Date().getUTCFullYear();
					</script>
			   </div> 
</div> 